body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.new-student,
#settings {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#js-student-list,
#js-output {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  text-align: left;
}

#js-output {
  font-weight: bold;
  color: #333;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 10px;
}

td,
th {
  padding: 8px;
  border: 1px solid #ddd;
}

th, .student-header td {
  text-align: center;
}

.requests {
  background-color: #b3e6c1;
  color: #0a502e;
}

.exclude {
  background-color: #f5b5b5;
  color: #601616;
}

td[contenteditable] {
  background-color: #f9f9f9;
  cursor: text;
}

.student-name {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.student-header td:nth-child(2) {
  text-align: right;
}

.delete-student {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.delete-student:hover {
  background-color: #c82333;
}
